.moviesList {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5% 1%;
  text-decoration: none;
}

@media (max-width: 420px) {
  .moviesList {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}
